@use '../../../components/GlobalStyles/breakpoint' as *;
//FOOTER 

.footer-signup_input
{
    height:100%;
    border:none;
    font-size: 1.6rem;
    flex:1;
    &:focus 
    {
        outline: none;
    }
    @include mobile
    {
        font-size: 1.4rem;
    }
}
.link-title 
{
    padding:15px 0;
    font-weight: 600;

}
.link-type
{
    padding:5px 0 15px;
}
.privacy 
{
    .privacy-item 
    {
        padding: 0px 10px;
        font-size: 14px;
        line-height: 14px;
        height: auto;
        border-right: 1px solid #9E9E9E;
        white-space: normal;
        
        @include mobile {
            border-right: none;
            border-bottom:1px solid #616161;
            padding: 12px 0;
        }
        
        &:first-child
        {
            padding-left: 0px;
        }
        &:last-child
        {
            border-right: none;
        }
    }
}
.copyright
{
    padding: 10px 0px;
    font-size: 14px;
    line-height: 16px;
    margin-right: 0;
    color:#9E9E9E;
    text-align: left;
    
    
}

