.profile-setting_title
{
    font-size: 1.3rem !important;
    padding:15px;
    font-weight: 700;
    margin-bottom: 0;
}
.profile-setting_content 
{
    .setting-item_title 
    {
        font-size: 1.1rem;
        flex:0 0 200px;
    }
    .setting-item_content 
    {
        font-weight: 600;
        font-size: 1.1rem;
    }
}