.news-wrapper {
    padding:50px;
}

.news-detail {
  padding: 20px;
}

.author-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding:0 200px;
}



.newsContent {
  margin-top: 20px;
}

.news-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.news-content_body
{
    padding:0 200px;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 50px;
   
}